<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate autocomplete="off">
    <div>
      <div *ngFor="let f of formFieldList">
        <jhi-form-field [form]="form" [formField]="f"></jhi-form-field>
      </div>
    </div>
    <jhi-form-field #teste [form]="form" [formField]="field3"></jhi-form-field>
    <p>Complete the form to enable button.</p>
    <button type="submit" [disabled]="!form.valid">Submit</button>
  </form>

  <p>Value: {{ form?.value | json }}</p>
  <p>Value: {{ teste?.formControl?.value | json }}</p>
</div>
