<div class="form-group" [formGroup]="form">
  <label class="form-control-label" jhiTranslate="{{ formField.title }}" [attr.for]="formField.key"></label>
  <div class="input-group">
    <input
      class="form-control"
      [id]="formField.key"
      [formControlName]="formField.key"
      placeholder="dd/mm/aaaa"
      ngbDatepicker
      #d="ngbDatepicker"
    />
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
    </div>
  </div>
  <jhi-error-message-form-field [control]="formControl"></jhi-error-message-form-field>
</div>
